.socialsContainer a {
    display: flex;
    width: fit-content;
    justify-content: baseline;
    align-items: center;
    gap: 10%;
}

.socialPlatform {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-on-dark-surface);
}

.socialPlatform:hover {
    font-weight: 900;
}

.socialsIcons {
    width: 30px;
}

@media screen and (max-width: 850px) {
    .socialPlatform {
        display: none;
    }
    .socialsContainer a {
        width: fit-content;
        justify-content: space-between;
        gap: unset;
    }
}